<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>


    <application
        android:name=".view.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Membership"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".view.dashboard.admin.manajemenmitra.ManajemenMitraActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.admin.addmitra.AddMitraActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.admin.addmitra.addpegawai.AddPegawaiActivity"
            android:exported="false" />
        <activity
            android:name=".view.status.StatusTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.profile.detail.poinku.transfer.TransferPoinActivity"
            android:exported="false"/>
        <activity
            android:name=".view.dashboard.profile.detail.poinku.ProfileDetailPoinkuActivity"
            android:exported="false"/>
        <activity
            android:name=".view.template.StatusTemplateActivity"
            android:exported="false"/>
        <activity
            android:name=".view.dashboard.profile.detail.referralku.ProfileDetailReferralkuActivity"
            android:exported="false"/>
        <activity
            android:name=".view.dashboard.profile.detail.detail.ProfileDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".view.dashboard.admin.detailmitra.DetailMitraActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.history.historydetailriwayat.HistoryDetailRiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.floatingcoupon.reedemcoupon.RedeemCouponCodeActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Membership" />
        <activity
            android:name=".view.dashboard.profile.detail.detail.ubahprofil.UbahProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.floatingvalidasi.detailvalidasi.DetailValidasiActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.floatingvalidasi.ValidasiActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.member.listeditmember.editmember.EditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.member.listeditmember.ListEditMemberActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.member.detailmember.DetailMemberActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.admin.addpromo.addpromostatus.AddPromoStatusActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.floatingpromo.StaffAddPromoActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.profile.membershipku.statusupgrademembership.StatusUpgradeMembershipActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.profile.membershipku.statusextendmembership.StatusExtendMembershipActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.profile.membershipku.upgrademembership.UpgradeMambershipActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Membership" />
        <activity
            android:name=".view.dashboard.history.historydetailpromo.promosearch.PromoSearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.history.historydetailpoin.HistoryDetailPoinActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.history.historydetailpromo.HistoryDetailPromoActivity"
            android:exported="false" />
        <activity
            android:name="com.dicoding.membership.view.dashboard.promo.detail.detailpromo.PromoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.verification.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.home.member.mstatus.HomeMemberStatusActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.home.member.mregister.HomeMemberRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.home.member.mreferral.HomeMemberReferralActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Membership" />
        <activity
            android:name=".view.dashboard.home.member.mlevel.HomeMemberLevelActivity"
            android:exported="false" />
        <activity
            android:name=".view.dashboard.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.welcome.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Membership" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Membership" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Membership" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Membership">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>